*.swp
*.bak
*.o
*.app
*.bkp
*.patch
moc_*.cpp
ui_*.h
/build
/doc/*
/.cproject
/.project
/.settings/
Makefile
Makefile.Release
Makefile.Debug
config.log
config.status
qrc_copasi.cpp
*.idb
*.vcproj*
*.icproj
*/*/release/
*/*/*/release/
*/*/debug/
*/*/*/debug/
config.status.bat
copasi/CopasiVersion.h
gitTools/.UpdateCopasiVersion
.DS_Store
trace
/autom4te.cache
InitialDependencies.dot
TransientDependencies\.dot
GetUpdateSequence\.dot
SimulationDependencies.dot
.kdev4/
ninja/
CMakeLists.txt.user*
COPASI.kdev4
copasi/copasi.pro.user
*~
*.pyproj
*.suo
*.pyc
*.tmp
/copasi/bindings/python/examples/example3.txt
/copasi/bindings/python/examples/example1.cps
/copasi/bindings/python/examples/example1.xml
/copasi/bindings/python/examples/example4.txt
/copasi/bindings/python/examples/example7.cps
/copasi/bindings/python/examples/example5.txt
/copasi/bindings/python/examples/example7.xml
/copasi/bindings/python/examples/fakedata_example6.txt
/copasi/bindings/python/examples/*.cps
/copasi/bindings/python/examples/*.xml
/copasi/bindings/python/examples/*.txt
/copasi/bindings/python/examples/out*
/copasi/bindings/python/unittests/*.cps
/copasi/bindings/python/unittests/*.xml
/copasi/bindings/python/unittests/*.txt
/TestSuite/distribution/NF-kappaB-trajectory.txt
/TestSuite/distribution/example3.txt
/Tools/Build95/*
/Tools/BuildHead/*
/core
/.vs
CMakeSettings.json
StructuralDependencies\.dot
AppendAllDependents\.dot
\.pydevproject
callgrind.out.*
\.vscode/
/dist/
/install*
/build_*
copasi/_*
python_copasi.egg-info
/venv
.idea
/copasi-dependencies
TestSuite/distribution/out.txt
.~lock*
