*.o
*.app
moc_*.cpp
ui_*.h
/.cproject
/.project
/.settings/
Makefile
Makefile.Release
Makefile.Debug
config.log
config.status
qrc_copasi.cpp
*.idb
*.vcproj*
*.icproj
*/*/release/
*/*/*/release/
*/*/debug/
*/*/*/debug/
config.status.bat

copasi/copasiversion.h
