*.cpp     format=cstyle CommentStart=//
*.hpp     format=cstyle CommentStart=//
*.c       format=cstyle CommentStart=//
*.h       format=cstyle CommentStart=//
*.h.in    format=cstyle CommentStart=//
*.i       CommentStart=//
*.java    CommentStart=//
*.pro     CommentStart=#
*.pri     CommentStart=#
*.xsd     CommentStart=<!-- CommentEnd=--> PrologEnd=>
*.xml     CommentStart=<!-- CommentEnd=--> PrologEnd=>
*.rng     CommentStart=<!-- CommentEnd=--> PrologEnd=>
*.ui      CommentStart=<comment> CommentEnd=</comment> PrologEnd=<ui.*>
*.py      CommentStart=# PrologEnd=-\\*-
*.sh      CommentStart=# PrologEnd=#!
*.cmake   CommentStart=# 
catch.hpp format= 
CMakeLists.txt CommentStart=# 
