*.swp
*.o
*.app
moc_*.cpp
ui_*.h
/build
/doc/html
/.cproject
/.project
/.settings/
Makefile
Makefile.Release
Makefile.Debug
config.log
config.status
qrc_copasi.cpp
*.idb
*.vcproj*
*.icproj
*/*/release/
*/*/*/release/
*/*/debug/
*/*/*/debug/
config.status.bat
copasi/CopasiVersion.h
gitTools/.UpdateCopasiVersion
.DS_Store
trace
/autom4te.cache
InitialDependencies.dot
SimulationDependencies.dot
.kdev4/
CMakeLists.txt.user
COPASI.kdev4
copasi/copasi.pro.user
*~
