<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>DESCRIPTION
===========

This is an installer created using CPack (http://www.cmake.org). No additional installation instructions provided.

</string>
	<key>IFPkgDescriptionTitle</key>
	<string>COPASI</string>
	<key>IFPkgDescriptionVersion</key>
	<string>4.11.65</string>
</dict>
</plist>
